/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow: hidden;
}

/* CANVAS */

#ar-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: fit-content;
}

#toggle-btn {
  display: inline-block;

  height: 1.5em;
  width: 1.5em;

  background: white;
  border: 2px solid white;
  border-radius: 50%;

  margin: 2em 0;
}

.buttons > button {
  font-size: 1.25rem;
  background-color: #ddff19;
  width: auto;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  border-width: 1px;
  color: #5d5c6d;
  font-weight: 500;
  letter-spacing: 0.12rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/** SPINNER **/

.loading {
  background: rgba(0, 0, 0, 0.61);
  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
